{% load staticfiles %}
<div class="fotorama" data-loop="true" data-width="1022" data-height="349"
     data-transition="crossfade" data-transition-duration="500" data-fit="cover"
     data-autoplay="true" data-arrows="false">
  {% for slide in slides %}
    <img src="{{ slide.image.url }}" alt="" data-caption="<a href='{{ slide.page }}'>{{ slide.title }}</a>">
  {% endfor %}
</div>