{% extends "inner_base.html" %}
{% load pages_tags %}

{% block inner_content %}
<h2>Latest ads</h2>
{% get_page "ads" as ads_page %}
<ul>
{% for ad in ads_page.get_children %}
<li>
    <h3>{{ ad.title }}</h3>
</li>
{% endfor %}
</ul>
{% endblock %}