{% extends "inner_base.html" %}
{% load pages_tags %}

{% block inner_content %}
<h2>Latest articles</h2>
{% get_page "articles" as articles %}
<ul>
{% for article in articles.get_children %}
<li>
    <h3>{{ article.title }}</h3>
    {% show_content article "teaser" %}
</li>
{% endfor %}
</ul>
{% endblock %}