{% load staticfiles pages_tags common i18n %}
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% placeholder 'title' %}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "safekaznet/css/style.css" %}">
    <script src="{% static "jquery-1.12.3.min.js" %}"></script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <script src="{% static "jquery.bxslider/jquery.bxslider.min.js" %}"></script>
    <link href="{% static "jquery.bxslider/jquery.bxslider.css" %}" rel="stylesheet" />
    <script>
      $(function(){
        $('.bxslider').bxSlider({
          pager: false,
          controls: true,
          minSlides: 6,
          maxSlides: 6,
          slideWidth: 154,
          slideMargin: 20
        });
        $('#partner-choice li').on('click', function(){
          $(this).addClass('active');
          $(this).siblings().removeClass('active');
          if ($(this).attr('id') == 'sponsors-header') {
            $('#sponsors').css('display', 'block');
            $('#partners').css('display', 'none');
          } else {
            $('#sponsors').css('display', 'none');
            $('#partners').css('display', 'block');
          }
        });
      });
    </script>
    {% block extrastyle %}{% endblock %}
  </head>
  <body>
    <!--[if lt IE 8]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
      <header id="site-header">
        <div class="inline" id="logo"><img src="{% static "safekaznet/img/logo.png" %}"></div>
        {% sitename %}
        <div class="inline right">
          <div class="inline" id="report"><span id="report-icon"></span><span id="report-text">Сообщить <br>о нарушении</span></div>
          {% get_current_language as LANGUAGE_CODE %}
          <div class="inline" id="languages"><ul>{% languages LANGUAGE_CODE %}</ul></div>
        </div>
        <nav id="header">
          <ul>
            {% for page in pages_navigation %}
              {% pages_menu page %}
            {% endfor %}
          </ul>
          <ul class="right">
            <li><ul id="social-links">{% social %}</ul></li>
            <li id="search"><span id="search-icon"></span><span><input type="text" id="search-bar" placeholder="Искать..."></span></li>
          </ul>
        </nav>
      </header>
      <div class="content">
        {% block content %}{% endblock %}
        <div class="inner-wrapper">
          <section id="partners-slider">
            <h4>Partners and Sponsors</h4>
            <ul id="partner-choice"><li class="active" id="partners-header"><span>Partners</span></li><li id="sponsors-header"><span>Sponsors</span></li></ul>
            <div id="partners">
              <ul class="bxslider">{% partner_slider 1 %}</ul>
            </div>
            <div id="sponsors">
              <ul class="bxslider">{% partner_slider 2 %}</ul>
            </div>
          </section>
          <footer>
            <div id="qrcode">
              {% qrcode %}
            </div>
          </footer>
          <nav id="footer">
            <ul>
              {% for page in pages_navigation %}
                {% pages_menu page %}
              {% endfor %}
            </ul>
          </nav>
        </div>
      </div>
  </body>
  <script>
    $(function(){
      $('#sponsors').toggle();
      $('#sponsors .bx-controls-direction a').removeClass('disabled');
    });
  </script>
</html>