{% extends "base.html" %}
{% load common pages_tags static %}


{% block extrastyle %}
<link rel="stylesheet" href="{% static "safekaznet/css/index.css" %}">
<link rel="stylesheet" href="{% static "fotorama/fotorama.css" %}">
<script src="{% static "fotorama/fotorama.js" %}"></script>
{% endblock %}

{% block content %}
  <div class="carousel-wrapper">
    {% carousel %}
  </div>
  <div class="inner-wrapper">
    <section id="news">
      {% get_page "news" as news_page %}
      <header id="news-section">{{ news_page.title }}</header>
        <ul>
        {% for new in news_page.get_date_ordered_children_for_frontend|slice:":3" %}
        <li>
          <span id="pub-date">{{ new.publication_date|date:"d F o" }}</span>
          <header><a href="{% show_absolute_url new %}">{{ new.title }}</a></header>
        </li>
        {% endfor %}
      </ul>
      <div class="right" id="all-news"><a href="/news/">All news</a></div>
    </section>
    <section id="articles">
      {% get_page "articles" as articles %}
        <header id="articles-section">{{ articles.title }}</header>
          <ul>
          {% for article in articles.get_date_ordered_children_for_frontend|slice:":4" %}
          <li {% if forloop.first %}class="first"{% endif %}>
            <img src="{{ MEDIA_URL }}{% show_content article "headerimage" %}" alt="">
            <header><a href="{% show_absolute_url article %}">{{ article.title }}</a></header>
            <div id="article-teaser">{% show_content article "teaser" %}</div>
          </li>
          {% endfor %}
        </ul>
        <div class="right" id="all-articles"><a href="/artiles/">All articles</a></div>
    </section>
    <section id="ads">
      <div id="ads-list" class="inline"></div>
      <div id="ad-block" class="inline">{% ad_block %}</div>
    </section>
  </div>
{% endblock %}