{% extends "inner_base.html" %}
{% load pages_tags %}

{% block inner_content %}
<h2>Latest news</h2>
{% get_page "news" as news_page %}
<ul>
{% for new in news_page.get_children %}
<li>
    <h3>{{ new.title }}</h3>
    {% show_content new "teaser" %}
</li>
{% endfor %}
</ul>
{% endblock %}