.carousel-wrapper {
    background: url('../img/slider-bg.png') no-repeat bottom center;
    -webkit-box-shadow: inset 0 10px 40px -20px rgba(0,0,0,0.8);
    -moz-box-shadow: inset 0 10px 40px -20px rgba(0,0,0,0.8);
    box-shadow: inset 0 10px 40px -20px rgba(0,0,0,0.8);
}
.fotorama {
    width: 1022px;
    margin: 0 auto;
    padding-top: 40px;
}
.fotorama__stage {
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
}
.fotorama__caption {
    width: 510px;
    height: 160px;
    left: auto !important;
    top: 30%;
    background: rgba(0, 75, 141, 0.65);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.fotorama__caption__wrap {
    width: 510px;
    height: 160px;
    padding: 20px 40px !important;
    background: none !important;
}
.fotorama__caption__wrap a {
    font-family: Calibri, Candara, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
    color: #ffffff !important;
    font-size: 30px;
    text-decoration: none;
    border: none !important;
}
.fotorama__nav-wrap {
    position: absolute;
    bottom: 20px;
}
.fotorama__nav__shaft {
    float: left;
    left: 40px !important;
    background: rgba(0, 75, 141, 0.65);
    padding: 5px 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.fotorama__nav__frame--dot {
    background: url('../img/slider-dot.png') no-repeat center center;
}
.fotorama__nav__frame--dot.fotorama__active {
    background: url('../img/slider-dot-active.png') no-repeat center center;
}
.fotorama__dot {
    border: none !important;
}
section#news {
    overflow: auto;
}
section#news header#news-section {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
}
section#news ul {
    list-style: none;
    padding-left: 0;
}
section#news ul li {
    width: 33%;
    display: inline-block;
    overflow: hidden;
}
section#news ul li img {
    max-width: 100%;
}
section#news ul li span#pub-date {
    font-size: 12px;
    font-color: #383838;
    font-weight: bold;
}
section#news ul li header {
    padding-left: 15px;
}
section#news ul li header a {
    font-size: 18px;
    color: #454545;
    text-decoration: none;
}
section#news #all-news a {
    font-size: 12px;
    color: #383838;
}

section#articles {
    overflow: auto;
}
section#articles header#articles-section {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
}
section#articles ul {
    list-style: none;
    padding-left: 0;
}
section#articles ul li {
    padding: 10px;
    display: inline-block;
    width: 244px;
    max-width:244px;
    height: 271px;
    max-height: 271px;
    margin-left: 20px;
    overflow: hidden;
    vertical-align: top;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #ffffff;
}
section#articles ul li.first {
    margin-left: 0;
}
section#articles ul li img {
    width: 243px;
    max-width: 243px;
    height: 114px;
    max-height: 114px;
    display: block;
}
section#articles ul li header {
    margin: 10px 0;
    line-height: 10px;
    padding: 0 5px;
}
section#articles ul li header a {
    color: #004b8d;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}
section#articles ul li header a:hover {
    text-decoration: underline;
}
section#articles ul li div#article-teaser {
    padding: 0 5px;
    font-size: 12px;
    color: #383838;
}
section#articles #all-articles a {
    font-size: 12px;
    color: #383838;
}

section#ads {
    overflow: auto;
}
section#ads #ad-block {
    float: right;
}
section#ads #ad-block img {
    width: 267px;
    height: 185px;
}