html {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    height: 100%;
    width: 1250px;
    min-width: 1250px;
    margin: 0 auto;
}
.inline {
    display: inline-block;
}
.right {
    float: right;
}
#site-header {
    padding: 30px 70px 10px;
    background-color: #ffffff;
}
#logo {
    position: relative;
    vertical-align: top;
    top: 5px;
    width: 175px;
    height: 31px;
}
#site-name {
    position: relative;
    vertical-align: top;
    width: 330px;
    margin: 0 40px;
    font-size: 18px;
    font-weight: bold;
    line-height: 18px;
    color: #454545;
}
#report {
    width: 154px;
    height: 47px;
    color: #ffffff;
    font-weight: bold;
    font-size: 14px;
    background-color: red;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#report span#report-text {
    width: 100px;
    height: 37px;
    float: right;
    padding: 5px;
}
#report span#report-icon  {
    width: 44px;
    height: 100%;
    display: inline-block;
    background: url('../img/speaker.png') no-repeat;
    background-position: center top 10px;
}

#languages {
    vertical-align: top;
}
#languages ul {
    list-style: none;
    margin: 0px;
}
#languages a {
    font-size: 14px;
    line-height: 24px;
    color: #717171;
}

nav#header ul {
    list-style: none;
    padding-left: 0;
    display: inline-block;
}
nav#header ul li {
    display: inline-block;
    padding: 3px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
nav#header ul li a {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}
nav#header ul li a:hover {
    text-decoration: underline;
}
nav#header ul li.active {
    background: #e9f0f8;
}
nav#header ul#social-links {
    position: relative;
    top: 5px;
}
nav#header ul#social-links li {
    padding: 0;
}
nav#header ul li#search {
    padding: 0px;
    position: relative;
}
nav#header ul li span#search-icon {
    display: block;
    position: absolute;
    top: 5px;
    right: 8px;
    width: 14px;
    height: 14px;
    background: url('../img/search.png') no-repeat center center;
}
nav#header #search-bar {
    width: 126px;
    height: 22px;
    padding: 0 20px 0 5px;
    border: 1px solid #ccc;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 12px;
    color: #747474;
    }
nav#header #search-bar:focus {
    outline: none;
}
.content {
    overflow: auto;
    background: #e9f0f8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#e9f0f8, #f7faff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#e9f0f8, #f7faff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#e9f0f8, #f7faff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#e9f0f8, #f7faff); /* Standard syntax */
}
.inner-wrapper {
    padding: 0 60px;
}

section#partners-slider h4 {
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    color: #292929;
}
section#partners-slider ul {
    padding-left: 20px;
    display: inline-block;
    list-style-type: none;
}
section#partners-slider ul li {
    padding: 5px 15px;
    display: inline;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    cursor: pointer;
}
section#partners-slider ul li span {
    border-bottom: 1px dotted #ccc;
    font-size: 14px;
    color: #727272;
}
section#partners-slider ul li.active {
    background-color: #93acc7;
}
section#partners-slider ul li.active span {
    color: #ffffff;
    font-size: 12px;
    font-weight: bolder;
    border-bottom: none;
}
section#partners-slider #sponsors, section#partners-slider #partners {
    display: block;
}

footer {
    height: 160px;
    min-height: 160px;
    background: url('../img/footerimage.png') no-repeat left bottom 20px;
}
footer #qrcode {
    float: right;
}
footer #qrcode-text {
    position: relative;
    vertical-align: top;
    top: 10px;
    padding-left: 10px;
    font-size: 12px;
    line-height: 18px;
    color: #383838;
}

nav#footer {
    border-top: 2px solid #d1d1d1;
}
nav#footer ul {
    padding-left: 0;
    margin-top: 10px;
    list-style: none;
    text-align: center;
}
nav#footer ul li {
    display: inline-block;
    padding: 0 10px;
}
nav#footer ul li a {
    text-decoration: none;
    font-size: 14px;
    color: #727272;
}
#partners-slider .bx-wrapper {
    margin: 0 40px 0 30px !important;
}
#partners-slider .bx-viewport {
    height: 143px !important;
    background-color: transparent;
    padding:0 20px 50px;
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#partners-slider .bx-viewport li {
    background-color: #ffffff;
    padding: 15px;
    -webkit-border-radius:;
    -moz-border-radius:;
    border-radius: 10px;
}
.bx-wrapper .bx-controls-direction a {
    top: 38% !important;
}
.bx-wrapper .bx-controls-direction a.disabled {
    display: block !important;
}
#partners-slider .bx-prev {
    background: url('../img/left-arrow-partner.png') no-repeat;
    left: -30px;
}
#partners-slider .bx-next {
    background: url('../img/right-arrow-partner.png') no-repeat;
    right: -65px;
}

.tooltip {
    display: inline;
    position: relative;
}
.tooltip:hover:before {
    border: solid;
    border-color: transparent transparent #ffffff transparent;
    border-width: 0 30px 30px 30px;
    top: 70px;
    content: "";
    left: 30px;
    position: absolute;
    z-index: 99;
}
.tooltip:hover:after {
    background: #ffffff;
    color: #000000;
    bottom: -85px;
    width: 172px;
    height: 60px;
    content: attr(title);
    left: -40px;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
}