{% load pages_tags cache %}
{% if page.status %}
<li {% if current_page.get_root.slug == page.slug %} class="active"{% endif %}>
<a href="{% show_absolute_url page %}">{% show_content page "title" %}</a>
</li>
{% endif %}
